:root {
    --nav-links-margin: 15%;
    --worker-container-width: 25vw;
    --our-workers-container-height: 450px;
    --worker-padding: 10px;
    --our-yellow: #fff596;
}


body {
    margin: 0;
    overflow-x: hidden;
}

section {
    margin: 2vw 2vh;
}


span.kebab {
    color: red;
}


.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.upper-header {
    background-color: red;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}
.upper-header nav {
    display: flex;
    align-items: center;
    margin-right: calc(var(--nav-links-margin) - 5%);     /* the same margin as links so links dont overflow to the right */
}
.upper-header nav a {
    text-decoration: none;
    color: black;
    margin-left: var(--nav-links-margin);
}
.upper-header h1 {
    font-weight: bold;
}
.upper-header div {
    margin-left: 4%;
    display: flex;
    align-items: center;
    flex-direction: row;
    user-select: none;

}
.logo-img {
    height: 100px;
}

.lowwer-header {
    justify-content: center;
}
.lowwer-header h3 {
    text-align: center;
    font-weight: bold;
}

.lowwer-header, .upper-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
}


.footer {
    display: flex;
    flex-direction: row;
}


.goal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    height: 100vh;
    width: 100%;
}

.background-section-image {
    height: 100vh;
    width: 99vw;
    z-index: -1;
}

.text-above-image {
    position: absolute;
    top: 50%;
    left: 29%;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.our-workers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(var(--our-workers-container-height) + 8 * var(--worker-padding));
    align-items: center;
}

.workers-container {
    max-width: var(--worker-container-width);
    min-width: var(--worker-container-width);
    height: calc(var(--our-workers-container-height) + 8 * var(--worker-padding));
    /* padding: var(--worker-padding); */
}

.worker {
    padding: var(--worker-padding);
    border: 1px solid black;
    border-radius: calc(var(--worker-padding) + 5px);
    height: calc(var(--our-workers-container-height) + 8 * var(--worker-padding));
}

.center-text {
    text-align: center;
}

.worker-image-container {
    display: flex;
    justify-content: center;
}
.worker-image-container img {
    height: calc(var(--our-workers-container-height) - 180px);
}

.change-worker-button, .change-worker-button-inactive {
    height: 50px;
    transition: 0.3s;
    user-select: none;
    font-size: xx-large;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.change-worker-button {
    background-color: var(--our-yellow);
}
.change-worker-button:hover {
    background-color: red;
    cursor: pointer;
}

.change-worker-button-inactive {
    background-color: lightgray;
    border: none;
}